VITE_BASE_URL=http://localhost:5000/api

VITE_DEMO_ADMIN_EMAIL=super@gmail.com
VITE_DEMO_ADMIN_PASSWORD=12345678

VITE_DEMO_SENDER_EMAIL=ismail@gmail.com
VITE_DEMO_SENDER_PASSWORD=Ismail@1611

VITE_DEMO_RECEIVER_EMAIL=arafat@gmail1.com
VITE_DEMO_RECEIVER_PASSWORD=Arafat@1611